<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - WebApplication1</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/app.css" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
</head>

<body>

    <header>

        @* <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"></nav> *@

        <div class="container-fluid header fs-5">

            @* <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebApplication1</a> *@

            @* <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button> *@

            @* <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between"></div> *@

            <ul class="nav flex-column flex-md-row justify-content-end py-4 mb-3">

                @if (Context.Session.GetString("TipoUsuario") is null)
                {
                    @* <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li> *@ @* Enlace *@

                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li> @* Enlace *@

                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Usuarios" asp-action="Login">Login</a>
                    </li> @* Enlace *@

                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Usuarios" asp-action="Registrarse">Registrarse</a>
                    </li> @* Enlace *@
                }

                @if (Context.Session.GetString("TipoUsuario") == "Peon")
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Empleados" asp-action="DatosPersonales">Datos Personales</a>
                    </li> @* Enlace *@

                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Empleados" asp-action="RegistrarVacunacion">Registrar Vacunación</a>
                    </li> @* Enlace *@

                    <li class="nav-item">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Listado</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" asp-controller="Empleados" asp-action="AnimalesVacunados">Animales Vacunados</a>
                        </li> @* Enlace *@
                    </ul>
                </li>
                }

                @if (Context.Session.GetString("TipoUsuario") is not null)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Usuarios" asp-action="CerrarSesion">Cerrar Sesión</a>
                    </li> @* Enlace *@
                }

            </ul> @* Navegación *@

        </div> @* Container-fluid*@

    </header>

    <div class="container-fluid">

        <main role="main" class="pb-3">

            @RenderBody()

        </main>

    </div>

    <footer class="border-top footer text-muted">

        <div class="container-fluid">

            <div class="d-flex flex-column flex-md-row justify-content-center">
                &copy; 2024 - Estancia Aplicación Web @* <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
            </div>

        </div>

    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
