@{
    ViewData["Title"] = "Home Page";
}

<header class="heading fs-1 text-center my-5">

    @if(Context.Session.GetString("TipoUsuario") is not null)
    {
        <h1>
            Bienvenido <span class="text-dark">@ViewBag.Nombre</span>
        </h1>

        <p class="my-4 fs-5">Email: <span class="text-dark">@ViewBag.Email</span></p>
    }

    @if (Context.Session.GetString("TipoUsuario") is null)
    {
        <h1>Bienvenido</h1>

        <a href="~/Usuarios/Login" class="btn btn-outline-primary my-5 fs-5">Inicie Sesión</a>
    }

</header>